@charset "UTF-8";.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) 50% no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format("embedded-opentype"),url(/_next/static/media/slick.653a4cbb.woff) format("woff"),url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"),url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg")
}

.slick-next,.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    border: none
}

.slick-next,.slick-next:focus,.slick-next:hover,.slick-prev,.slick-prev:focus,.slick-prev:hover {
    color: transparent;
    outline: none;
    background: transparent
}

.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
}

.slick-dots li,.slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.slick-dots li button:focus,.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

.styles_wrapper__SjHPP {
    background-color: #000;
    color: #fff;
    position: relative;
    font-family: var(--font-madeOuterSans);
    font-weight: 300;
    text-transform: uppercase;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    border-bottom: 1px solid #fff
}

.styles_wrapper__SjHPP div {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%
}

.styles_wrapper__SjHPP div .styles_news__message__7m4V0 {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    align-items: center;
    animation: styles_slide-left__io7Si 10s linear infinite
}

.styles_wrapper__SjHPP div .styles_news__message__7m4V0 p {
    font-size: 14px;
    font-weight: 400;
    padding-left: .5em;
    background-color: #ff9800;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    text-transform: uppercase
}

@keyframes styles_slide-left__io7Si {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

.styles__base__WsHWK {
    position: relative;
    display: flex;
    height: 480px;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (max-width: 1024px) {
    .styles__base__WsHWK {
        height:100%;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem
    }
}

@media (max-width: 768px) {
    .styles__base__WsHWK {
        height:100%;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem
    }
}

@media (max-width: 639px) {
    .styles__base__WsHWK {
        height:100%;
        padding-top: 1.25rem
    }
}

.styles__container__QNWl1 {
    width: 100%
}

@media (min-width: 640px) {
    .styles__container__QNWl1 {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .styles__container__QNWl1 {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .styles__container__QNWl1 {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .styles__container__QNWl1 {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .styles__container__QNWl1 {
        max-width:1536px
    }
}

.styles__container__QNWl1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

@media (max-width: 639px) {
    .styles__container__QNWl1 {
        padding-left:0;
        padding-right: 0
    }
}

.styles__grid__G9j5d {
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    gap: 3rem
}

@media (max-width: 1024px) {
    .styles__grid__G9j5d {
        margin-top:0
    }
}

@media (max-width: 768px) {
    .styles__grid__G9j5d {
        margin-top:0
    }
}

@media (max-width: 639px) {
    .styles__grid__G9j5d {
        margin-top:0;
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding: 1.25rem
    }
}

.styles__column__m9J2h {
    grid-column: span 2/span 2
}

.styles__title__2T5fa {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 116 0/var(--tw-text-opacity))
}

@media (max-width: 1024px) {
    .styles__title__2T5fa {
        font-size:28px
    }
}

@media (max-width: 768px) {
    .styles__title__2T5fa {
        font-size:22px
    }
}

@media (max-width: 639px) {
    .styles__title__2T5fa {
        font-size:24px
    }
}

.styles__title__2T5fa {
    font-family: var(--font-madeOuterSans)
}

.styles__help_text__1PScD {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: .1em
}

.styles__text___mvzu {
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 300
}

.styles__button__jxhus {
    margin-bottom: 2rem;
    display: flex;
    height: 42px;
    width: 264px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.styles__button__jxhus:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 116 0/var(--tw-bg-opacity))
}

@media (max-width: 1024px) {
    .styles__button__jxhus {
        width:270px
    }
}

@media (max-width: 768px) {
    .styles__button__jxhus {
        height:40px;
        width: 260px
    }
}

.styles__button__jxhus {
    transition: background-color .8s ease;
    line-height: normal;
    letter-spacing: .7px
}

.styles__button__jxhus span {
    padding-right: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase
}

@media (max-width: 768px) {
    .styles__button__jxhus span {
        font-size:14px
    }
}

.styles__button__jxhus span {
    font-family: var(--font-madeOuterSans)
}

.styles__subtitle__8HHH7 {
    padding-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700
}

.styles__links_list__1fyzz {
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 300
}

@media (max-width: 639px) {
    .styles__column_mobile__6Fay6 {
        grid-column:span 2/span 2
    }

    .styles__column_mobile__6Fay6 div {
        display: flex;
        justify-content: space-between
    }
}

.styles__column_mobile_title__hrQK9 {
    padding-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700
}

@media (max-width: 639px) {
    .styles__column_mobile_subtitle__H9q35,.styles__column_mobile_title__hrQK9 {
        display:none
    }
}

.styles__column_mobile_title_r___gGeY {
    padding-bottom: .5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700
}

@media (min-width: 640px) {
    .styles__column_mobile_title_r___gGeY {
        display:none
    }
}

.styles__column_mobile_subtitle_r__W7DS3 {
    font-size: .875rem;
    line-height: 1.25rem
}

@media (min-width: 640px) {
    .styles__column_mobile_subtitle_r__W7DS3 {
        display:none
    }
}

@media (max-width: 639px) {
    .styles__column_mobile_subtitle_r__W7DS3 {
        display:block
    }
}

.styles__column_mobile_links__fvn_3 {
    display: flex;
    padding-top: 1.5rem
}

@media (max-width: 639px) {
    .styles__column_mobile_links__fvn_3 {
        align-items:center;
        padding-top: 0
    }
}

.styles__column_wrapper_mobile__tSa8n {
    display: flex;
    flex-direction: column
}

.styles__column_language__aq8T4 {
    font-size: 16px
}

@media (max-width: 768px) {
    .styles__column_language__aq8T4 {
        font-size:12px
    }
}

@media (max-width: 639px) {
    .styles__column_language__aq8T4 {
        margin-top:30px
    }
}

.styles__active_language__X191H {
    cursor: pointer
}

.styles__active_language_text__3QRab {
    cursor: pointer;
    padding-left: .25rem;
    padding-right: .25rem
}

.styles__wrapper_language__a5QvG {
    display: flex;
    align-items: center
}

.styles__flags_opacity__JvsRb {
    padding-left: .25rem;
    opacity: .5
}

.styles_text__flags_opacity__5Tc_5 {
    padding-left: .25rem;
    padding-right: .5rem;
    opacity: .5
}

.styles__column_social__ymEFP {
    margin-top: 2rem
}

.styles__column_social_grid__GlnNQ {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (max-width: 639px) {
    .styles__column_social_grid__GlnNQ {
        flex-direction:column
    }
}

.styles__column_social_flex__rezOr {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center
}

@media (min-width: 640px) {
    .styles__column_social_flex__rezOr {
        margin-left:0;
        margin-right: 0
    }
}

.styles__logo_ingresse__HjAST {
    margin-right: 2rem
}

.styles__social_logo_space__KU849 {
    margin-left: .25rem;
    margin-right: .25rem
}

.styles__column_copy__fetQ2 {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 300
}

@media (max-width: 768px) {
    .styles__column_copy__fetQ2 {
        font-size:12px
    }
}

@media (max-width: 639px) {
    .styles__column_copy__fetQ2 {
        margin-top:30px;
        margin-bottom: 1rem
    }
}

.styles__line__Rg80H {
    margin-left: 2rem;
    margin-right: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgb(254 202 202/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (max-width: 639px) {
    .styles__line__Rg80H {
        margin-top:0
    }
}

.styles__line__Rg80H {
    opacity: .3
}

.styles__social_icon__yKR3x {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 1.25rem;
    line-height: 1.75rem
}

.styles__store_icon__Ln_cc {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 32px
}

.styles__login_button__g8227 {
    z-index: 9999999999;
    margin: .25rem 2rem;
    height: 42px;
    width: 173px;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 116 0/var(--tw-bg-opacity));
    padding: .5rem 1.25rem;
    font-size: 11px;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles__login_button__g8227:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 85 0/var(--tw-bg-opacity))
}

.styles__login_button__g8227 {
    transition: background-color .8s ease;
    font-family: var(--font-madeOuterSans);
    font-weight: 400;
    line-height: normal;
    letter-spacing: .7px
}

.styles__login_button_register__v22Y5 {
    z-index: 9999999999;
    margin-top: .25rem;
    margin-bottom: .25rem;
    height: 42px;
    width: 173px;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 116 0/var(--tw-bg-opacity));
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 11px;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles__login_button_register__v22Y5:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 85 0/var(--tw-bg-opacity))
}

.styles__login_button_register__v22Y5 {
    transition: background-color .8s ease;
    font-family: var(--font-madeOuterSans);
    font-weight: 400;
    line-height: normal;
    letter-spacing: .7px
}

.styles__signup_button__im2Ev {
    z-index: 9999999999;
    margin-top: .25rem;
    margin-bottom: .25rem;
    height: 42px;
    width: 173px;
    cursor: pointer;
    border-radius: 9999px;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding: .5rem 1.25rem;
    font-size: 11px;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.styles__signup_button__im2Ev:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(234 234 234/var(--tw-bg-opacity))
}

.styles__signup_button__im2Ev {
    transition: background-color .8s ease;
    font-family: var(--font-madeOuterSans);
    font-weight: 400;
    line-height: normal;
    letter-spacing: .7px
}

.styles__event_button__5_cRq {
    z-index: 9999999999;
    margin-top: .25rem;
    margin-bottom: .25rem;
    height: 42px;
    width: 173px;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    padding: .5rem 1.25rem;
    font-size: 11px;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles__event_button__5_cRq:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(105 105 105/var(--tw-bg-opacity))
}

.styles__event_button__5_cRq {
    transition: background-color .8s ease;
    font-family: var(--font-madeOuterSans);
    font-weight: 400;
    line-height: normal;
    letter-spacing: .7px
}

.styles__login_button_mobile__SH3UF {
    z-index: 9999999999;
    margin: .25rem 2rem;
    height: 42px;
    width: 80%;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 116 0/var(--tw-bg-opacity));
    padding: .5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles__login_button_mobile__SH3UF:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 85 0/var(--tw-bg-opacity))
}

.styles__login_button_mobile__SH3UF {
    transition: background-color .8s ease;
    font-family: var(--font-madeOuterSans);
    font-weight: 400;
    line-height: normal;
    letter-spacing: .7px
}

.styles__signup_button_mobile__8clDA {
    z-index: 9999999999;
    margin-top: .25rem;
    margin-bottom: .25rem;
    height: 42px;
    width: 80%;
    cursor: pointer;
    border-radius: 9999px;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding: .5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.styles__signup_button_mobile__8clDA:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(234 234 234/var(--tw-bg-opacity))
}

.styles__signup_button_mobile__8clDA {
    transition: background-color .8s ease;
    font-family: var(--font-madeOuterSans);
    font-weight: 400;
    line-height: normal;
    letter-spacing: .7px
}

.styles__event_button_mobile__19rVt {
    z-index: 9999999999;
    margin-top: .25rem;
    margin-bottom: .25rem;
    height: 42px;
    width: 80%;
    cursor: pointer;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    padding: .5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles__event_button_mobile__19rVt:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(105 105 105/var(--tw-bg-opacity))
}

.styles__event_button_mobile__19rVt {
    transition: background-color .8s ease;
    font-family: var(--font-madeOuterSans);
    font-weight: 400;
    line-height: normal;
    letter-spacing: .7px
}

.styles__wrapper__6sGie {
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

@media (min-width: 640px) {
    .styles__wrapper__6sGie {
        display:block
    }
}

.styles__wrapper__6sGie {
    position: fixed;
    z-index: 99999999999999!important;
    top: 0
}

.styles__nav__cLNNA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    transition: transform .6s ease;
    height: 72px
}

.styles__nav_scrool__lQFhE {
    display: flex;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    transform: translateY(10);
    transition: transform 6s ease;
    animation: styles_myanimation__MMAPi 3s;
    height: 80px
}

.styles__nav_mobile__bwTyh {
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.styles__nav_scrool_mobile__rCzlt {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    transform: translateY(10);
    transition: transform 6s ease;
    animation: styles_myanimation__MMAPi 3s
}

@keyframes styles_myanimation__MMAPi {
    0% {
        background: rgba(65,65,65,.5);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px)
    }

    35% {
        background-color: #fff;
        color: #000
    }

    to {
        background-color: #fff;
        color: #000
    }
}

.styles__logo_text__AV3UA {
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles__logo_text__AV3UA,.styles__logo_text_color__rVfTt {
    margin-left: .75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1
}

.styles__logo_text_color__rVfTt {
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.styles__profile_name__qbTmf {
    font-size: .875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-family: var(--font-madeOuterSans)
}

.styles__profile_link__lGGrZ {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
    letter-spacing: .6px
}

.styles_searchInput__8iQxW::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat 50% /contain
}

.styles__column_wrapper_mobile__lMSDJ {
    display: flex;
    flex-direction: column
}

.styles__column_language__UyNaa {
    font-size: 16px
}

@media (max-width: 768px) {
    .styles__column_language__UyNaa {
        font-size:12px
    }
}

@media (max-width: 639px) {
    .styles__column_language__UyNaa {
        margin-top:30px
    }
}

.styles__active_language__IJkjD {
    cursor: pointer
}

.styles__active_language_text__wxDHg {
    cursor: pointer;
    padding-left: .25rem;
    padding-right: .25rem
}

.styles__wrapper_language__yyTcO {
    display: flex;
    align-items: center
}

.styles__flags_opacity__qM9mE {
    padding-left: .25rem;
    opacity: .5
}

.styles_text__flags_opacity__2L8ku {
    padding-left: .25rem;
    padding-right: .5rem;
    opacity: .5
}
